.header {
    margin: 94px 24px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    font-size: 18px;
    font-style: normal;
}

.header_menu {
    justify-self: start;
}

.menu_list {
    display: flex;
    gap: 28px;
    list-style: circle;
    margin-left: 26px;
    align-items: center;
}

.menu-list_link {
    text-underline-offset: 4px;
}

.link_no_circle {
    list-style: none;
}

.link_active {
    text-decoration: none;
}

.contacts {
    justify-self: end;
    margin-right: 25px;
    text-underline-offset: 4px;
    line-height: 26.3px;
    width: 240px;
}

.contacts_list {
    list-style: none;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    background: #000000;
    opacity: 0.5;
}

.cover_title {
    color: #FFF;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    text-transform: uppercase;
    height: 355px;
    width: 1000px;
    margin: 165px 50px 237px 50px;
    line-height: 124px;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    letter-spacing: 0.3em;
    text-align: center;
}

.aligned-text_right {
    display: block;
    letter-spacing: 0.3em;
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 59px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position:absolute;
    z-index: 2;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    column-gap: 80px;
    padding: 0px 50px 50px 78px;
}

.cover__description-text {
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 18px;
}

.bet-button {
    background: transparent;
    font-weight: normal;
    font-size: 22px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 12px 32px;
}

.lots {
    margin: 179px 24px 146px;
}

.lots_heading {
    text-transform: uppercase;
    font-size: 40px;
    color:#000000;
    font-family: 'Raleway';
    font-weight: bold;
    margin: 0px 0px 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.lots__card-list-item {
    width: 334px;
    min-height: 563px;
    list-style: none;
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 51px 40px 48px;
    height: 100%;
    position: relative;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    position: relative;
    z-index: 1;
}

.card__text {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: normal;
    color: #fff;
    position: relative;
    z-index: 1;
}

.lots__look-more-link {
    display:block;
    font-size: 20px;
    color:#000000;
    font-weight: normal;
    text-underline-offset: 4px;
    margin: 30px 0px 0px 40px;
}

.about {
    margin: 0px 24px 180px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px 1fr;
    height: 595px;
    column-gap: 24px;
}

.about__logo {
    background-color:#000000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-top: 36px;
    justify-self: center;
    align-content: center;
}

.about__logo-image {
    height: 116px;
}

.about_column-text {
    display: grid;
    grid-template-rows: 284px 312px;
}

.about__title {
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
    padding-top: 37px;
}

.about__text {
    font-size: 20px;
    font-family: 'Raleway';
    font-weight: normal;
    word-spacing: 1px;
}

.text_first {
    margin-bottom: 24px;
}

.text_second {
    word-spacing: 0px;
}

.footer {
    display: grid;
    margin: 0px 50px 88px;
    grid-template-columns: 240px 149px 240px;
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: normal;
    justify-content: space-between;
}

.address {
    line-height: 25px;
}

.address_list {
    list-style: none;
}

.address_list-link {
    text-underline-offset: 4px;
}

.footer__menu {
    text-align: center;
    line-height: 22px;
    text-underline-offset: 4px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 48px;
}

.footer__social-icon {
    height: 48px;
    width: 48px;
}